* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    font-family:'Roboto Slab', serif;
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu{  
    background-color: #e91e63;  
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu a {
    display: block;
    padding: 12px 20px;
}

.menu a:active,
.menu a:hover{
    background-color: #424242;
    color: #e91e63;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a{
    color: #424242;
    text-decoration:none;
}
