* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    font-family:'Roboto Slab', serif;
    background-size: auto 100vh;
    height: 100vh;
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu{  
    background-color: #e91e63;  
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px #424242;
    width: 100vw;
    z-index: 1;
}

.menu a {
    display: block;
    padding: 12px 20px;
}

.menu a:active,
.menu a:hover{
    background-color: #424242;
    color: #e91e63;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a{
    color: #424242;
    text-decoration:none;
}

.site-title{
    font-size: 4em;
}

.sobre,
.portfolio,
.contatos{
    background-color: #424242;    
    padding: 2em;
    min-height: 100vh;
}


.sobre h2,
.portfolio h2,
.contatos h2{
    color: aliceblue;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}

.sobre p {
    color: aliceblue;
    margin-top: 1.4em;
    /*text-indent: 1em;*/
    text-align: justify;
}

.sobre figure{
    float: right;
    margin-left: 1em;
}
.sobre ul {
    padding-top: 0.3em;
}
.sobre li {
    list-style: none;     
    display: flex;
    padding-left: 1em;
}

.sobre i {
    color: #e91e63;
    padding-left: 0.5em;
}

.sobre a {
    color: #e91e63;
}

.sobre .img-perfil{
    border-radius: 50%;
    border: #e91e63 solid 0.3em;  
}

@media(max-width: 800px){
    .sobre figure{
        float: none;             
        text-align: center;
        margin-left: 0;
    }

    .img-perfil{
        width: 300px;
        height: 300px;
    }
}

.portfolio .grid{
    display: grid;
    justify-content: center;    
    gap: 2em;
    
}   
    
@media(min-width:600px){
    .portfolio .grid{        
        grid-template-columns: repeat(2, 260px);
    }
}

@media(min-width:900px){
    .portfolio .grid{        
        grid-template-columns: repeat(3, 260px);
    }
}

.portfolio figure{
    text-align: center;
    color:#e91e63;
}

.img-portfolio{
    height: 180px;
    width: 100%; 
    max-width: 260px;
    border-radius: 10%;   
    object-fit: cover; 
    transition: transform 0.5s;      
}

.img-portfolio:hover{
    transform: scale(1.2) rotate(-2deg);
}

.contatos .icons{      
    text-align:center;
}

.contatos a {
    color: aliceblue;
    font-size: 6em;
    transition: text-shadow 0.3s;
}

.contatos a:hover{
    text-shadow: 0px 0px 15px #e91e63;
    text-decoration: none;
}

footer{
    background-color: #e91e63;
    position: relative;
    padding-right: 1em;
    padding-bottom: 1em;
    bottom: 0em;
    display: flex;
    justify-content: flex-end;
}

footer span{
    font-size: 1rem;
    font-weight: 300;
}

footer .red {
    color:  aliceblue;
}