* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    font-family:'Roboto Slab', serif;
}

header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu{  
    background-color: #e91e63;  
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px #424242;
    width: 100vw;
    z-index: 1;
}

.menu a {
    display: block;
    padding: 12px 20px;
}

.menu a:active,
.menu a:hover{
    background-color: #424242;
    color: #e91e63;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a{
    color: #424242;
    text-decoration:none;
}

.site-title{
    font-size: 4em;
}

.sobre,
.portfolio{
    background-color: #424242;    
    padding: 2em;
    min-height: 100vh;
}

.sobre h2,
.portfolio h2{
    color: aliceblue;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}

.sobre p {
    color: aliceblue;
    margin-top: 1.4em;
    text-indent: 1em;
    text-align: justify;
}

.sobre figure{
    float: right;
    margin-left: 1em;
}

.sobre a {
    color: #e91e63;
}

.sobre .img-perfil{
    border-radius: 50%;
    border: #e91e63 solid 0.3em;  
}

.portfolio .grid{
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: repeat(3, 260px);
}
.portfolio figure{
    text-align: center;
}

.img-portfolio{
    height: 180px;
    width: 100%; 
    transition: transform 0.5s;      
}

.img-portfolio:hover{
    transform: scale(1.2) rotate(-2deg);
}

